<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
	<br><br><br><br><br><br>
	<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${success}">
			<strong th:text="${success}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:if="${warning}">
			<strong th:text="${warning}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<h1></h1>
		
		<br><br><br><br>
		<h1 class="display-3 text-center" th:text="${titulo}"></h1>
		<div class="shadow-lg p-3 mb-5 bg-white rounded"></div>
	</div>
	
	
	<div class="container">


		<a class="btn btn-primary btn-sm" th:href="@{/rol/create}"
		th:text="'New Role'" title="Create A New Record">
		</a>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID ROL</th>
					<th scope="col">ROL</th>
					<th scope="col">USUARIO</th>
					<th scope="col">ACTIONS</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="r:${roles}">
					<th scope="row" th:text="${r.id_rol}"></th>
					<td th:text="${r.rol}"></td>
					<td th:text="${r.user.username}"></td>
					
					<td>
					<!-- <a th:ref="@{/views/roles/edit/} + ${r.id_rol}" class="btn btn-warning">Edit</a> -->
					<a class="btn btn-warning btn-sm" th:href="@{/rol/edit/} + ${r.id_rol}"
					th:text="'Edit'" title="Record Edit"
					onclick="return confirm('Do you want edit this field?');">
					</a>
					<a class="btn btn-danger btn-sm" th:href="@{/rol/delete/} + ${r.id_rol}"
					th:text="'Delete'" title="Record Delete"
					onclick="return confirm('Do want delete this field?');">
					</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>
