<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
<br><br><br><br><br><br>
	<div class="container">	
	
	<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${success}">
			<strong th:text="${success}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:if="${warning}">
			<strong th:text="${warning}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	    <h1>
	    
	    
	    </h1>
		<h1 class="animate__animated animate__bounce animate__fadeInDown display-4 text-center" th:text="${titulo}"></h1>
		<div class="shadow-lg p-3 mb-5 bg-grey rounded"></div>
		
	</div>

	
		<a class="btn btn-primary btn-sm" th:href="@{/dcompras/createDetalleC}"
		th:text="'Nuevo'" title="Create A New Record">
		</a>
		
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">DETALLE COMPRA ID</th>
					<th scope="col">COMPRA ID</th>
					<th scope="col">PRODUCTO ID</th>
					<th scope="col">CANTIDAD</th>
					<th scope="col">PRECIO</th>
					<th scope="col">ACCION</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="c:${dcompras}">
					<th scope="row" th:text="${c.id_detalle_registro_compra}"></th>
					<td th:text="${c.compra.id_registro_compra}"></td>
					<td th:text="${c.producto.id_producto}"></td>
					<td th:text="${c.cantidad}"></td>
					<td th:text="${c.precio}"></td>						
					<td>
					<a class="btn btn-warning btn-sm" th:href="@{/dcompras/edit/} + ${c.id_detalle_registro_compra}" 
					th:text="'Edit'" title="Record Edit"
					onclick="return confirm('Do you want edit this field?');">
					</a>
					<a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ALMACENISTA')" class="btn btn-danger btn-sm" 
					th:href="@{/dcompras/delete/} + ${c.id_detalle_registro_compra}" 
					th:text="'Delete'" title="Record Delete"
					onclick="return confirm('Esta seguro de eliminar el registro?');">
					</a>
					</td>
								
				</tr>
			</tbody>
		</table>



	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>