<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

<br><br><br><br><br><br><br><br>
	<div class="container">	
	
	<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${success}">
			<strong th:text="${success}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:if="${warning}">
			<strong th:text="${warning}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	    
		<h1  class="display-3 text-center" th:text="${titulo}"></h1>	
		<div class="shadow-lg p-3 mb-4 bg-white rounded"></div>
	</div>
	
	<div class="container-fluid" id="background-head">

	
		<a class="btn btn-primary btn-sm" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ALMACENISTA')"   th:href="@{/ventas/createventa}"
		th:text="'Nuevo Registro'" title="Nuevo Registro Venta">
		</a>
		
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID VENTA</th>
					<th scope="col">ID TERCEROS	</th>
					<th scope="col">TIPO COMPROBANTE</th> <!-- TIPO DE COMPROBANTE -->
					<th scope="col">No. COMPROBANTE</th> <!-- NUMERO DE COMPROBANTE -->
					<th scope="col">FECHA</th>
					<th scope="col">TOTAL</th>
					<th scope="col"  >EDITAR</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ALMACENISTA')"  >ELIMINAR</th>

					
				</tr>
			</thead>
			<tbody>
				<tr th:each="t:${rventas}">
					<th scope="row" th:text="${t.id_registro_venta}"></th>
					<td th:text="${t.tercero.id_tercero}"></td>
					<td th:text="${t.tipo_comprobante}"></td>
					<td th:text="${t.num_comprobante}"></td>
					<td th:text="${t.fecha}"></td>
					<td th:text="${t.total}"></td>
					<td>
					<a class="btn btn-primary btn-sm" th:href="@{/ventas/edit/} + ${t.id_registro_venta}" 
					th:text="'Editar'" title="Editar Registro"
					onclick="return confirm('¿Quiere editar este campo?');">
					</a>
					</td>
					<td sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ALMACENISTA')" >
					<a  class="btn btn-danger btn-sm" th:href="@{/ventas/delete/} + ${t.id_registro_venta}" 
					th:text="'Eliminar'" title="Eliminar Registro"
					onclick="return confirm('ATENCIÓN! ¿Desea eliminar este registro?');">
					</a>
					</td>
								
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>