<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header" ></header>
	<br><br><br><br><br><br><br><br>
	<div class="container"> 
	
	    <div class="card bg-light">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">
		
			<form th:action="@{/ctproductos/savectproductos}" th:object="${ctproducto}" method ="post">
			<div class="form-group row">
			
				<input type="hidden" th:field="*{id_categoria_producto}">
				<label class="col-md-2" for="nombre">Name:</label> 
				<input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-3"  id="nombre"
				placeholder="name">
				<small></small>	
				</div>
				
			<div class="form-group row">
				<label class="col-md-2" for="estado">Status:</label> 
				<select th:field="*{estado}" class="form-control form-control-sm col-md-6"  id="estado">
				<option th:text="'Activo'" th:value="true"/>
				<option th:text="'inactivo'" th:value="false"/>
				</select>
				</div>
	
			
			<div class="card-footer bg-dark">
				<input type="submit" class="btn btn-primary btn-sm" value="Save"/>
			</div>
			
		</form>
		</div>
	</div>
</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>