<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
	
	<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${success}">
			<strong th:text="${success}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:if="${warning}">
			<strong th:text="${warning}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<h1></h1>
		<h1 class="shadow-sm p-3 mb-5 bg-white rounded display-3 text-center" th:text="${titulo}"></h1>
	</div>
	<div class="container">



		<a class="btn btn-primary btn-sm" th:href="@{/ctproductos/createctp}"
		th:text="'New Category'" title="Create A New Record">
		</a>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">PRODUCT CATEGORY ID</th>
					<th scope="col">CATEGORY NAME</th>
					<th scope="col">STATUS</th>
					<th scope="col">ACTIONS</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="ct:${ctproducto}">
					<th scope="row" th:text="${ct.id_categoria_producto}"></th>
					<td th:text="${ct.nombre}"></td>
					<td th:text="${ct.estado}"></td>
					<td>
					
					<a class="btn btn-warning btn-sm" th:href="@{/ctproductos/edit/} + ${ct.id_categoria_producto}"
					th:text="'Edit'" title="Record Edit"
					onclick="return confirm('Do you want edit this field?');">>
					</a>
					<a class="btn btn-danger btn-sm" th:href="@{/ctproductos/delete/} + ${ct.id_categoria_producto}"
					th:text="'Delete'" title="Record Delete"
					onclick="return confirm('Esta seguro de eliminar el registro?');">
					</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>