<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">

</head>
<body>
	<header th:replace="plantilla/template :: header" ></header>
	<br><br><br><br><br><br><br>
	<div class="container"> 
	
		<div class="animate__animated animate__bounce animate__fadeInDown card bg-light">
		<div class="card-header bg-dark text-white" >Nuevo Categoria Tercero</div>
		<div class="card-body">
		
			<form th:action="@{/cterceros/savecterceros}" th:object="${cterceros}" method ="post">
			<div class="form-group row">
			
				<input type="hidden" th:field="*{id_categoria_tercero}">
				<label class="col-md-2" for="nombre">NOMBRE:</label> 
				<input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6"  id="nombre"
				placeholder="name">
				<small></small>	
			</div>
			
			<div class="card-footer bg-dark">
				<input type="submit" class="btn btn-primary btn-sm" value="Save"/>
			</div>
			
		</form>
		</div>
	</div>
	</div>
	
	
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>