<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
<meta charset="UTF-8">
</head>

<body>

	<header th:replace="plantilla/template :: header"></header>
	
	<br><br><br><br><br>
	
	<div class="container text-center py-3">
	<br>
	<br>
		<div class="panel">
		<!-- 	<div class="panel-heading">
				<h3 class="panel-title text-danger">
					<span th:text="${error}"></span> - <span th:text="${status}"></span>
				</h3>
				</div> -->
				<div class="panel-body">
					<img th:src="@{/images/error.png}" width="700" height="400">
					<br>
					<h4>La página solicitada no existe!</h4>
					<br>
					<br>
					<button class="btn btn-primary" onclick="goBack()">&laquo;Regresar</button>
	
				</div>
		
		</div>
	
	
	
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>

	<script>
		function goBack(){
			window.history.back();
		}
	</script>

</body>
</html>