@charset "utf-8";

#body{
	background: #000000;
    color: #ffffff;
}

#contacto{
	
	font:bold 1.9em Verdana,Geneva,sans-serif;
	background: #000;
	width:25%;
	padding:15px;
	margin:15px auto;
	margin-top: 10%;
	text-align:center;
	border-radius:50px;
	color:#FFFFFF;
	box-shadow:#ff0000 3px 3px 15px;
	text-shadow:#808080 3px 3px 3px;
}