@charset "utf-8";

#body{
	background: #000000;
    color: #ffffff;
}

.card-dark{
	width: 50%;
	float:right;
	margin-top: 7%;
	margin-left: 20px;
	margin-right: auto;
}
#mapa{
	margin-top: 5%;
	margin-left: 10%;
	padding: 4px;
	background:#666;
	border-radius:20px;
	-webkit-transition:transform 0.3s ease 0.1s;
}
#p{
	
	margin-right: 100px;
	margin-top: 20%;
	float:left;
	margin-bottom: 1%;
}
