@charset "utf-8";

body{
	
	background: #000000;
    color: #ffffff;
}
#h1{
	font:bold 1.9em Verdana,Geneva,sans-serif;
	background: #000;
	width:25%;
	padding:15px;
	margin:15px auto;
	margin-top: 10%;
	text-align:center;
	border-radius:50px;
	color:#FFFFFF;
	box-shadow:#ff0000 3px 3px 15px;
	text-shadow:#808080 3px 3px 3px;
}

section{
	width:91%;
	margin: 15px auto;
	margin-top: 5%;

}
#f{
	float: left;
	margin-left: 70px;
}
#f img{
	padding: 4px;
	background:#666;
	border-radius:20px;
	-webkit-transition:transform 0.3s ease 0.1s;


}
figure img:hover{
	-webkit-transform: scale(1.2);
}

figcaption{
	text-align: center;
	margin-top: 5px;
}